html,body{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

a{
    cursor: pointer;
}

a, p, textarea, h1{
    font-family: 'Courier New',Courier,monospace;
}

h1{
    font-weight: 300;
}

#ground{
    width: 3000px;
    height: 3000px;
    background: gainsboro;
}

#titleblock{
    display: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 9999;
    box-shadow: 0px 0px 5px white;
    background-color: white;
    color: grey;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

#alertblock{
    position: fixed;
    top: 1rem;
    right: 1rem;
    background: #6495ed;
    box-shadow: 0px 0px 5px #6495ed;
    color: white;

}

#alert{
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    display: block;
}

div{
    box-sizing: border-box;
}
.message{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    background: white;
    border: 1px solid #222;
    border-radius: 0.2rem;
    border-width: 3px;
    animation:dim 35s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.message.unsubmitted{
    -webkit-animation:none;
}

.message .editpanel {display: none;}
.message .showpanel{display: block;}
.message.editing .editpanel{
    display: block;
    min-width: 5vw;
    min-height: 4rem;
}
.message.editing .showpanel{display: none;}


.message.showpanel{
    position: relative;
}

.message.showpanel .handle {
    position: absolute;
    top: 0;
    left: 0;
}

.editpanel > div,
.showpanel > div{
    display: flex;
    flex-flow: row;
    align-content: space-between;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.showpanel > div{
    justify-content: flex-end;
}

.editpanel>div a,
.showpanel>div a{
    display: block;
    padding: 0.5rem;
    background-color: gainsboro;
    border: 1px solid gray;
    border-radius: 5px;
}

.showpanel #editlink{
    opacity: 0;
}

.message:hover .showpanel #editlink {
    opacity: 1;
    transition: opacity 0.3s;
}
.color-picker-item{
    display: block;
    height: 2rem;
    width: 2rem;
    border-radius:2rem;
    margin-left: 1rem;
}

.editpanel > div.colors-picker{
    justify-content: flex-end;
}
/* Color Palette */
.none {
    border-color: #222;
}
.color-picker-item.none{
    border: 1px solid;
}
.blue{
    border-color: #471CAD;
}
.color-picker-item.blue{
    background-color: #471CAD;
}
.blue-back {
    background-color: #471CAD;
}

.green{
    border-color: #A6C267;
}
.color-picker-item.green {
    background-color: #A6C267;
}
.green-back {
    background-color: #A6C267;
}

.mauve{
    border-color: #7467A4;
}
.color-picker-item.mauve {
    background-color: #7467A4;
}
.mauve-back{
    background-color: #7467A4;
}

/* Animations */
@-webkit-keyframes dim {
    from,
    to {
        background: white;
    }

    100% {
        background: #dcdcdc;
    }
}