html,body{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

a{
    cursor: pointer;
}

a, p, textarea{
    font-family: 'Courier New',Courier,monospace;
}

#ground{
    width: 3000px;
    height: 3000px;
    background: gainsboro;
}

div{
    box-sizing: border-box;
}
.message{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    background: white;
    border: 1px solid #222;
    border-radius: 0.2rem;
}

.message .editpanel {display: none;}
.message .showpanel{display: block;}
.message.editing .editpanel{
    display: block;
    min-width: 5vw;
    min-height: 4rem;
}
.message.editing .showpanel{display: none;}


.message.showpanel{
    position: relative;
}

.message.showpanel .handle {
    position: absolute;
    top: 0;
    left: 0;
}

.editpanel > div,
.showpanel > div{
    display: flex;
    flex-flow: row;
    align-content: space-between;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.showpanel > div{
    justify-content: flex-end;
}

.editpanel>div a,
.showpanel>div a{
    display: block;
    padding: 0.5rem;
    background-color: gainsboro;
    border: 1px solid gray;
    border-radius: 5px;
}